@charset "ISO-8859-1";

html, body {
	height: 95%;
}

body {
	margin: 0;
	max-width: 1280px;
	float: none;
	margin: 0 auto;
	font-size: 0.9em;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.flex-container {
	height: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border: none;
}

.centered-button {
	width: 50%;
	margin: 0 140px 0 140px;
}

.narrow-som {
	width: 160px;
}

.navMenuUlogovaniKorisnik {
	float: right !important;
}

.pretragaFilter {
	width: 10%;
	padding: 0px !important;
}

.pretragaResults {
	width: 90%;
	padding: 0px !important;
}

.button-filter {
	width: 100%;
}

.loginButton {
	width: 100%;
}

.input {
	width: 100%;
}

.p-korisnikProfil {
	padding: 0 !important;
}

.pg-korisnikProfil .ui-panelgrid-cell.ui-g-2 {
	width: 100%;
}

.tq-input {
	margin: 0px 5px !important;
}

.addRemoveLink {
	text-decoration: none;
	color: #4f4f4f;
	border: 1px solid #a8a8a8;
	border-radius: 25px;
	margin-left: 5px;
	padding-right: 4px;
}

.noAccess {
	max-width: 250px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
}

.noAccess .ui-button {
	width: 100%;
}

/* KOLONE - START */

.column-127 {
	width: 127px;
}

.column-196 {
	width: 196px;
}

/* KOLONE - END */

#panel-pretraga-filteri {
	border: none;
	padding: 0px;
}

#panel-pretraga-filteri_content {
	padding: 0px 6px;
	min-height: 655px;
}

#panel-pretraga-results {
	padding: 0px;
	border: none;
}

#panel-pretraga-results_content {
	padding: 0px;
	min-height: 700px;
}

#panel-korisnik-profil_content {
	padding: 0px;
}


#login {
	height: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border: none;
}
